---
import BaseLayout from "../layouts/BaseLayout.astro";
import VoxelWork from "../components/VoxelWork.astro";
---

<BaseLayout title="NOPE">
  <div class="home-voxel">
    <VoxelWork />
  </div>
</BaseLayout>

<style>
  .home-voxel {
    height: 100svh;
  }
</style>
